<div id="wrapper" class="wrapper-full banners-effect-8">
  <!-- Header Container  -->
  <header id="header" class="variantleft type_3">
    <!-- Header Top -->
    <app-topbar></app-topbar>
    <!-- //Header Top -->

    <!-- Header center -->
    <app-navbar></app-navbar>

    <!-- Navbar switcher -->
    <!-- //end Navbar switcher -->
  </header>
  <!-- //Header Container  -->
  <!-- Block Spotlight1  -->

  <router-outlet></router-outlet>

  <!-- Footer Container -->
  <app-footer></app-footer>
  <!-- //end Footer Container -->
</div>

